# Data folder to ignore
Data/building_data_gdb
Data/building_stock_data
Data/census_shp
Data/extracted_census_shp
Data/merged_shapefile

# Shakemaps
ShakeMaps/*
ShakeMaps_Testing/*

# Other
data_utils/*
