# Data folder to ignore
Data/building_data_gdb
Data/building_stock_data
Data/census_shp
Data/extracted_census_shp
Data/merged_shapefile

#Working Scripts
WorkingScripts/__pycache__/*

# Shakemaps
ShakeMaps/*
tables/lightbox*
WorkingScripts/FEMA_Analysis_Tools*
WorkingScripts/get_seismic_design_code.py
WorkingScripts/join_seis_code.py
WorkingScripts/o4_Earthquake_GetHazusStructureType.py
OriginalScripts.zip
Data/*
WorkingScripts/Data/*
# temp files
tmp/*
ShakeMaps_Testing/*

# Other
data_utils/*
working_scripts/__pycache__/*
